<h1>Greetings, <%= @user.name %></h1>

<p>
  Welcome to Artist Assemble!
</p>
<p>
  You have successfully signed up for this wonderful, collaborative community.
</p>
<p>
  To login to the site, just follow the link: <%= link_to "Our site", root_url %>.
</p>
<p>
  !
</p>
