* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

@font-face { 
	font-family: "Kollektif"; 
	src: url('../font/Kollektif.WOFF'); 
}

body {
    background: linear-gradient(#626262, #363636) !important;
    font-family: "Kollektif";
}

.my-container {
    margin: 0 auto;
    padding: 0 15px;
}

.field-container {
    margin: 0 auto;
    max-width: 550px;
}

.profile-container {
    margin:0 auto;
    padding: 45px 30px;
    max-width: 1500px;
}


.bio-container {
    margin: 0 auto;
    max-width: 400px;
}

.vertical {
    align-items: center;
    justify-content: center;
}
  
/*header-home*/

header {
    padding-top: 25px;
    background-image: linear-gradient( 45deg, RGBA(140, 146, 252, .8), RGBA(252, 79, 97, .8) ), url('../img/header.jpg');
    background-size: cover;
    position: relative;
    z-index: 2;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.login-btn {
    margin-right: 25px;
    border: none;
    color: white;
    letter-spacing: 2px;
    background: #565656;
    float: right;
}

.login-btn:hover {
    margin-right: 25px;
    border: none;
    color: white;
    letter-spacing: 2px;
    background: grey;
    float: right;
}

header img {
    width: 70vw;
    max-width: 800px;
    height: auto;
    margin: 80px 0; 
}

.signup-btn {
    padding: 1px 1px 2px 1px;
    display: inline-block;
    width: 95px;
    color: white;
    letter-spacing: 2px;
    border: 1px solid white;
    margin-bottom: 80px;
}

.signup-btn:hover {
    padding: 1px 1px 2px 1px;
    display: inline-block;
    width: 95px;
    color: white;
    background-color: RGBA(255, 255, 255, 0.2);
    letter-spacing: 2px;
    border: 1px solid white;
    margin-bottom: 80px;
}

/*hdr-sub*/

.hdr-img-sub {
   width: 45vw;
    max-width: 800px;
    height: auto;
    margin: 30px 0;
    cursor: pointer;
    cursor: hand;
}

.hdr-img-min {
    width: 70vw;
    max-width: 800px;
    height: auto;
    margin: 30px 0;
    cursor: pointer;
    cursor: hand;
}

.hdr-sub .user {
    padding: 0 5px;
    float: right;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    cursor: hand;
}

.hdr-sub .search-artists {
    padding: 0 5px;
    color: white;
    float: right;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
    cursor: pointer;
    cursor: hand;

}

.search-artists > i {
    display: inline-block;
    padding-top: 4px;
    cursor: pointer;
    cursor: hand;

}

.search-artists-mobile > i {
    margin-bottom: 15px;
    padding: 0 5px;
    color: white;
    float: right;
    cursor: pointer;
    cursor: hand;
}

.hdr-sub .logout {
    padding: 0 5px;
    margin-bottom: 15px;
    float: right !important;
    border: none;
    color: white;
    letter-spacing: 2px;
    background: #565656;
}

.logout:hover {
    padding: 0 5px;
    float: right !important;
    border: none;
    color: white;
    letter-spacing: 2px;
    background: #626262;
}


/*sec-gap*/

.sec-gap {
    margin: 150px 0;
}

/*lines*/

.lines {
    background: url('../img/lines.png');
    background-size: 100% 100%;
}

/*sec-top*/

.sec-top .top-p {
    margin-bottom: 150px;
    color: white;
    letter-spacing: 2px;
}

.singer-tab {
    margin: 35px 0;
    padding: 16px 0;
    background-image: linear-gradient( 45deg, RGBA(140, 146, 252, .8), RGBA(252, 79, 97, .8) ), url('../img/vocals.png');
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    cursor: hand;
}

.singer-tab p {
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
}

.singer-tab .tab-circle {
    width: 20px;
    float: left;
    margin: 17px 0 0 30px;
}

.singer-tab .tab-arrow {
    margin: 17px 30px 0 0;
    width: 10px;
    float: right;
}

.producer-tab {
    margin: 40px 0;
    padding: 20px 0 30px 0;
    background-image: linear-gradient( 45deg, RGBA(140, 146, 252, .8), RGBA(252, 79, 97, .8) ), url('../img/header.jpg');
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    cursor: hand;
}

.producer-tab p {
    display: inline-block;
    margin-top: 10px;  
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

.producer-tab .tab-circle {
    width: 20px;
    float: right;
    margin: 14px 30px 0 0;
}

.producer-tab .tab-arrow {
    margin: 14px 0 0 30px;
    width: 10px;
    float: left;
}

.eng-tab {
    margin: 35px 0;
    padding: 16px 0;
    background-image: linear-gradient( 45deg, RGBA(140, 146, 252, .8), RGBA(252, 79, 97, .8) ), url('../img/mix-master.png');
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    cursor: hand;
}

.eng-tab p {
    display: inline-block;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
}

.eng-tab .tab-circle {
    width: 20px;
    float: left;
    margin: 17px 0 0 30px;
}

.eng-tab .tab-arrow {
    margin: 17px 30px 0 0;
    width: 10px;
    float: right;
}

/*sec-bottom*/

.desc-p {
    margin: 200px 0;
    color: white;
    letter-spacing: 2px;
}

/*footer*/

.learn-more {
    padding: 15px 0;
    display: inline-block;
    width: 250px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid white;
    margin-bottom: 20px;
}

.learn-more:hover {
    padding: 15px 0;
    display: inline-block;
    width: 250px;
    color: white;
    background-color: RGBA(255, 255, 255, 0.1);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid white;
    margin-bottom: 20px;
}

footer i {
    display: inline-block;
    color: white;
    padding:0 20px;
    margin-bottom: 30px;
}

/*signup*/

.close {
    margin: 50px 0 0 50px;
    display: inline-block;
    width: 40px;
    cursor: pointer;
    cursor: hand;
}

.signup-fields {
    margin: 30px 0;
}

.signup-fields .label {
    color: white;
    letter-spacing: 2px;
}

.input {
    border-radius: 0 !important;  
    background-color: RGBA(255, 255, 255, 0.8);
    border: none;
}

.textarea {
    border-radius: 0 !important;
    background-color: RGBA(255, 255, 255, 0.8);
    border: none;
}

.checkboxes {
    text-align: left;
    margin-bottom: 45px;
}

.checkbox {
    color: white;
}

.checkbox:hover {
    color:RGBA(255, 255, 255, 0.8);
}

.select {
    display: block;
    width: 100% !important;
}

select {
    width: 100% !important; 
}

.options {
    display: block !important;
    border-radius: 0 !important;
    border: none !important;
    background-color: RGBA(255, 255, 255, 0.8) !important;

}

.upload-cont {
    margin-top: 60px;
    background-color: RGBA(255, 255, 255, 0.8) !important;
}



.upload-cont > input {
    display: block;
}

.signup-next {
    display:block;
    padding: 5px 0;
    margin: 60px 0;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
}

.signup-next:hover {
    display:block;
    padding: 5px 0;
    border: 1px solid white;
    color: white;
    background-color: RGBA(255, 255, 255, 0.1);
    letter-spacing: 2px;
}

.signup-next > i {
    padding-top: 4px;
    color: white;
}

/*login*/

.login-go {
    display:block;
    padding: 5px 0;
    margin: 60px 0 400px 0;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
}

.login-go:hover {
    display:block;
    padding: 5px 0;
    border: 1px solid white;
    color: white;
    background-color: RGBA(255, 255, 255, 0.1);
    letter-spacing: 2px;
}

.login-go > i {
    padding-top: 4px;
    color: white;
}

/*soundcloud-auth


.orange {
    color: #FF5906;
}

.sca-cont {
    margin-top: 60px;
}

.sca-note {
    color: white;
}

.sca-link {
    display:block;
    padding: 5px 0;
    margin: 60px 0;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
}

.sca-link:hover {
    display:block;
    padding: 5px 0;
    border: 1px solid white;
    color: white;
    background-color: RGBA(255, 255, 255, 0.1);
    letter-spacing: 2px;
}

.sca-link > i {
    padding-top: 4px;
    color: #FF5906;
}*/

/*profile*/

.profile-container {
    padding-bottom: 300px;
}

.profile {
    background: linear-gradient( 45deg, RGBA(140, 146, 252, .3), RGBA(252, 79, 97, .3) );
    border-radius: 5px;
}

.profile-h {
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
}

.profile-img {
    margin-top: 60px;
    width: 120px;
    border-radius: 50%;
    filter: drop-shadow( 1px 1px 3px rgba(0,0,0,0.2));
    opacity: 0.9;
}

.profile-bio {
    margin-top: 30px;
    color: white;
    letter-spacing: 2px;
}

.ratings2 {
    margin-bottom: 40px;
}

.rating-h1 {
    margin-top: 30px;
    color: #D04C5E
}

.rating-h2 {
    color: #D04C5E
}

.tags-cont {
    margin-bottom: 10px;
}

.tags {
    margin-bottom: 18px;
}
.tag {
    margin: 0 10px;
    padding: 0 10px;
}

.tag-si {
    background-color: #8077C4;
    color: white;
}

.tag-pr {
    background-color: #AB74AC;
    color: white;
    padding: 0 14px;
}

.tag-en {
    background-color: #D46178;
    color: white;
    padding: 0 15px;
}

.genres {
    margin-bottom: 10px;
}

.genre {
    background-color: white;
    border-radius: 15px;
}

/*collaborations*/

.collaborations {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 5px 5px 0;
    padding-bottom: 35px;
}

.collab-h {
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
}

.collab-bar {
    margin: 20px 10px;
    background: linear-gradient( 45deg, RGBA(140, 146, 252, .3), RGBA(252, 79, 97, .3) );
    border-radius: 5px;
}

/*.columns:last-child {
    margin-bottom: 0 !important;
}*/

.collab-shake {
    background-color: #8077C4;

    border-radius: 3px 0 0 3px;
}

.collab-shake > i {
    padding-top: 9px;
    color: white;
} 

.collab-me {
    float: left;
    width: 34px;
    height: auto;
    border-radius: 50%;
}

.collab-project {
    padding-top: 7px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.collab-you {
    width: 34px;
    height: auto;
    border-radius: 50%;
    float: right;
}

.collab-delete {
    background-color: #D24A59;
    border-radius: 0 3px 3px 0;
}

.collab-delete img {
    padding-top: 11px;
    width: 12px;
}

/*search artists*/

.search-cont {
    margin-top: 100px;
    padding-bottom: 100px;
}

.search-field {
    width: 100% !important;
}

.search-input {
    border-radius: 3px 0 0 3px !important;
}

.search-filter {
    background-color: #D24A59 !important;
    border: none !important; 
    color: white !important;
}

.search-btn {
    background-color: #8077C4 !important;
}

.search-btn > i {
    float: left;
    padding-right: 5px;
}

/*search artists*/

.results-cont {
    padding:20px 20px 200px 20px;
}

.result-cont {
    background: linear-gradient( 45deg, RGBA(140, 146, 252, .5), RGBA(252, 79, 97, .5));
    border-radius: 3px;
    margin-bottom: 20px;
}

.result-img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.result-img-cont  {
    display: inline-block;
    /*float: left;*/
    padding-top: 17px;
    padding-left: 17px;
}

.search-tag-cont {
    margin-top: 10px;
}

.search-tag {
    margin-top: 7px;
}

.result-ratings-cont {
    display: inline-block;
}

.next-cont {
    background-color: #8077C4;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.next-cont > img {
    width: 12px;
    height: auto;
    color: white;
    padding: 25px 0 18px 0;
}

.result-name {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    letter-spacing: 2px;
}

.pause-play-cont {
    margin: 10px;
    display: inline-block;
    border: 1px solid white;
    padding: 10px 12px 0 15px;
    cursor: pointer;
    cursor: hand;
    /*border-radius: 3px;*/
}

.pause-play-cont > i {
    color: white;
}

.pause-play-cont > i:hover {
    color: white;
}

/*view profile*/

.back-cont {
    padding: 50px 0 0 10px;
}

.back-icon {
    width: 40px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}

.view-profile-img {
    margin-top: 60px;
    border-radius: 50%;
    width: 120px;
    filter: drop-shadow( 1px 1px 3px rgba(0,0,0,0.2));
    opacity: 0.9;
}

.userP-collab-cont {
    margin-top: 100px;
}

.userP-collab-btn {
    background-color: #8077C4 !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.userP-collab-btn > i {
    padding: 10px 60px;
}

.rate-cont {
    margin: 100px 0;
    border: 1px solid white;
    padding: 20px;
}

.rate-track-h1 {
    color: white;
}

/*chats*/

.chat-cont {
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 3000;
}

.chats-cont {
    padding: 12px;
    margin: 0 80px 10px 80px;
    border-radius: 5px 5px 0 5px;
    background: linear-gradient( 45deg, RGBA(140, 146, 252, .8), RGBA(252, 79, 97, .8));
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}



.chat-btn {
    margin: 0 20px 20px 0;
    float: right;
    border-radius: 50%;
    background-color: #8077C4;
    width: 60px;
    height: 60px;
    filter: drop-shadow( 1px 1px 3px rgba(0,0,0,0.4));
    cursor: pointer;
    cursor: hand;
}

.chat-btn > i {
    margin-top: 14px;
    color: white;
}

.collab-list > li {
    border: 1px solid #626262;
}

.chat-send-btn {
    background-color: #8077C4 !important;
}

.msg-cont {
    max-width: 300px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto; 
}

.msg-name {
    color: white;
}

.msg-from {
    margin: 10px 40px 10px 0;
    padding: 3px;
    color: white;
    background-color: RGBA(255, 255, 255, 0.3);
    border-radius: 15px;
}

.msg-to {
    margin: 10px 0 10px 40px;
    padding: 3px;
    color: white;
    background-color: RGBA(128, 119, 196, 0.8);
    border-radius: 15px;
}

.collab-msg-close {
    float: right;
    width: 15px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}